:root{
    --Gray-950: #ffffff;
    --Gray-900: #f9fafb;
    --Gray-800: #f3f4f6;
    --Gray-700: #e5e7eb;
    --Gray-600: #d1d5db;
    --Gray-500: #9ca3af;
    --Gray-400: #6b7280;
    --Gray-300: #4b5563;
    --Gray-200: #374151;
    --Gray-100: #1f2937;
    --Gray-50: #111827;
    --Gray-Default: #030712;
}

[data-theme="dark"]{
    --Gray-Default: #ffffff;
    --Gray-50: #e5e7eb;
    --Gray-100: #d1d5db;
    --Gray-200: #9ca3af;
    --Gray-300: #6b7280;
    --Gray-400: #6b7280;
    --Gray-500: #6b7280;
    --Gray-600: #374151;
    --Gray-700: #374151;
    --Gray-800: #1f2937;
    --Gray-900: #111827;
    --Gray-950: #030712;
}